 #cryptoTicker {
      font-size: 16px;
      font-family: Arial, sans-serif;
      font-style: italic;
      color: #ffffff;
      padding: 10px;
      border-radius: 5px;
      background-color: #343a40;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }

    .green {
      color: #11D728;
    }

    .red {
      color: #FF5252;
    }

    .separator {
      margin: 0 5px;
      color: #999;
    }
